@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --my-color: #fff;
  /* or any other variables/style */
}
[data-theme='dark'] {
  --my-color: #000;
}
[data-theme='pink'] {
  --my-color: #a3268c;
}
[data-theme="mytheme"] .btn {
  border-width: 2px;
  border-color: black;
}


body {
  background-color: var(--my-color);
}
